<h1>Create A New Task</h1>

<form action="/tasks" method="POST">

<p>
  <label for="task_title">Task Title: </label>
  <input type="text" name="task[title]" list="task_title" required>
  <datalist id="task_title">
    <% Task.all.each do |task| %>
    <option><%= task.title %></option>
      <% end %>
  </datalist>
</p>


<p>
  <label for="est_time">Estimate Time to Complete:</label>
  <select id="est_time" name="task[estimated_duration]" required>
    <option value="five">5 minutes</option>
    <option value="ten">10 minutes</option>
    <option value="twenty">20 minutes</option>
    <option value="half">30 minutes</option>
    <option value="forty">40 minutes</option>
    <option value="hour">60 minutes</option>
    <option value="ninty">90 minutes</option>
    <option value="twohour">120 minutes</option></select>
  </p>

  <!-- no need for actual time for completely on new task form -->

  <p>
    <label for="priority">Priority:</label>
    <select id="priority" name="task[priority]" required>
      <option value="Low">Low</option>
      <option value="Moderate">Moderate</option>
      <option value="Important">Important</option>
      <option value="Urgent">Urgent</option></select>
  </p>

  <p>
    <label for="deadline">Must Be Done By:</label>
    <input type="date" id="deadline" name="task[deadline]">
  </p>

  <p>
    <label for="task_notes">General Notes:</label><br>
    <textarea  name="task[notes]" id="task_notes" cols="80" rows="10"></textarea>
  </p>

<p>
  <input type="radio" id="has_subtask" name="task[no_subtask]" value="0">
  <label for="male">There are subtasks.</label><br>
  <input type="radio" id="no_subtask" name="task[no_subtask]" value="1">
  <label for="female">There are NO subtasks</label><br>
</p>

  <p>
    Assign Task to the Following User(s):<br>
    <% User.all.each do |user| %>
      <input type="checkbox" name="users[]" id="<%= 'user_' + user.id.to_s %>" value="<%= user.id %>"><%= user.username %></input><br>
    <% end %>
  </p>


  <input type="submit" value="Create Task">
</form>
