<h1>Create A New Task</h1>

<form action="/tasks" method="POST">

  <label for="task_title">Task Title</label>
  <input type="text" name="artist[name]" id="task_title"> </br>

  <!-- <label for="name">Name</label>
  <input type="text" name="song[name]" id="name"> </br>

  <label>  </label><Br>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><%= genre.name %><br>
  <% end %>

  <input type="submit" value="Create">
</form> -->
