<ul>
<% User.all.each do |user| %>
  <li><%= @add_link = '<a href="' + "../user/#{user.id}" + '">' + "#{user.id}" + ": " +"#{user.role}" + '</a>' %><br>
</li>
<% end %>
</ul>


<ul>
<% UserTask.all.each do |usertask| %>
  <li>User ID: <%= usertask.user_id %>, Subtask ID: <%= usertask.subtask_id%></li>
<% end %>
</ul>
