<h1>Welcome to Your Household Task Management Tool<h1>
<h2>Moms, Dads, little ones and caregivers: you are all part of a team!</h2>

<div>
  <a href="../user/login">Log In</a>
</div>

<div>
  <a href="../user/signup">Sign Up</a>
</div>
