<!DOCTYPE html>
<html>
  <head>
    <link href="/home/yurigurlie207/temporary/household-task-manager/public/stylesheets/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <title>Household Task Manager</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
